* {
    margin: 0;
}

/*PALETA DE COLORES*/
:root {
    --blanco: #ffffff;
    --grisClaro: #DFF6FF;
    --azulPrimario: #06283D;
    --azulSecundario: #1F4690;
    --negro:#000000;
}
.header{
    background-color: #06283D;
    padding-top: 1rem;
    padding-left: 1rem;
    Display:flex;
    Justify-content: space-between;
    Align-items:center;
}
.titles {
    color: #DFF6FF;
    Display:flex;
    Flex-direction: column;
    Width:30%;
    }


/*TITULO*/

.title{
    font-size: 2.46rem;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: -10;
}

.subtitle{
    margin-top: -15px;
    padding-bottom: .7rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.03rem;
}

.search{
    padding-right: 3rem;
    width: 12rem;
}

.search input{
    border: 0px;
    border-radius: 5px;
    padding: .2rem;
    padding-left: 1.5rem;
    width: 100%;
    color: var(--negro);
    background-image: url("https://img.icons8.com/ios-glyphs/20/000000/search--v1.png");
    background-position: 1px 1px; 
    background-repeat: no-repeat;
    opacity: .9;
}

.search input::placeholder{
    color: var(--negro);
    font-family: 'Montserrat', sans-serif;
}

.search input:focus{
    outline: none;
}

.nav{
    background-color: var(--azulPrimario);
    display: flex;
    justify-content: center;
    padding-bottom: .5rem;
    margin-bottom: 0;
    font-family: 'Bebas Neue', cursive;
}

.nav ul{
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.ul li{
    list-style: none;
}

.ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    display: grid;
    color: var(--grisClaro);
}

.ul li a:hover{
    text-decoration: underline
}

.banner{
    width: 90%;
    margin: auto auto;
    height: 200px;
    background-image: url("https://www.semana.com/resizer/rH4_rbif0fmvefux9P8yPeuPOhA=/1200x675/filters:format(jpg):quality(50)//cloudfront-us-east-1.images.arcpublishing.com/semana/EMVX56K62JCS7J3BH2M4BA33RU.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px ;
}

.container{
    width: 90%;
    margin: 10px auto ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container section {
    background-color: var(--grisClaro);
    border-radius: 17px 17px 0px 0px;
    width: 31%;
    margin: 5px 5px;
    box-shadow: inset;
    
    -webkit-box-shadow: 0px 0px 33px -5px rgba(196,186,196,0.71);
    -moz-box-shadow: 0px 0px 33px -5px rgba(196,186,196,0.71);
    box-shadow: 0px 0px 33px -5px rgba(196,186,196,0.71);
    transition: 0.3s transform;
}

.container section:hover{
    transform: scale(1.1);
}

.container section article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7%;
}



.container section article div{
    border-radius: 17px 17px 0px 0px;
    width: 100%;
    min-height: 200px;
    max-height: 250px;
    overflow: hidden;
}

.container section article img{ 
    margin: auto auto;
    position:static;
    width: 100%;
    height: 220px;
    border-radius: 17px 17px 0px 0px;   
}

.container section article p{ 
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    font-size: .8rem;
}

.container section article h3{
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

/*SECCION DE CONTACTO*/

.formulario {
    background-color: var(--azulPrimario);
    width: min(80rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario legend {
    color: var(--grisClaro);
    font-weight: 800;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

a:-webkit-any-link {
    color: var(--grisClaro);
    cursor: pointer;
    text-decoration: underline;
}

.fieldset-color {
    color: var(--grisClaro);
    font-family: 'Montserrat', sans-serif;
}


.footer {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--negro);
}


